<div class="tutorial">
    <h2 id="resume" id="resume">概述</h2>
    操作符是RxJS的重中之重.按照用途,可以分为创建、转换、过滤、组合、错误处理、工具等.操作符数量庞大,有上百种之多.但并不是每种操作符的使用频率都是一样的,本节将演示一些常用的操作符.更多的操作符请参考
    <a href="https://cn.rx.js.org/class/es6/Observable.js~Observable.html#static-method-create" target="view_window">RxJS 中文文档</a>.
    <div class="info">
        '案例代码演示'部分是为了让各位开发者更好地理解而设计的.而本小节关于操作符的文字描述,均来自
        <a href="https://cn.rx.js.org/class/es6/Observable.js~Observable.html#static-method-create" target="view_window">RxJS 中文文档</a>.
    </div>
    <div class="danger">
        在每个操作符当中，都有代码演示。请勿多次点击演示按钮，会出现多次订阅，影响演示效果。如若需要重新查看效果，刷新即可！
    </div>
    <h2 id="create-operators">创建操作符</h2>
    <h3 id="fromOf">from、of</h3>
    <div class="fn">
        public static from(ish: ObservableInput&lt;T&gt;, scheduler: Scheduler): Observable&lt;T&gt;
    </div>
    从一个数组、类数组对象、Promise、迭代器对象或者类 Observable 对象创建一个 Observable.
    <div class="fn">
        public static of(values: ...T, scheduler: Scheduler): Observable&lt;T&gt;
    </div>
    创建一个 Observable，它会依次发出由你提供的参数，最后发出完成通知。
    <code-mirror [code]="code1"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo1()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                <div nz-row>
                    <div nz-col nzSpan="12">from:{{demi1FromResult}}</div>
                    <div nz-col nzSpan="12">of:{{demi1OfResult}}</div>
                </div>
            </div>
        </div>
    </nz-card>
    <h3 id="interval">interval</h3>
    <div class="fn">
        public static interval(period: number, scheduler: Scheduler): Observable
    </div>
    interval 返回一个发出无限自增的序列整数, 你可以选择固定的时间间隔进行发送。 第一次并 没有立马去发送, 而是第一个时间段过后才发出。 默认情况下, 这个操作符使用 async 调度器来 提供时间的概念，但也可以给它传递任意调度器。
    <code-mirror [code]="code2"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo2()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo2Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="repeat">repeat</h3>
    <div class="fn">
        public repeat(count: number): Observable
    </div>
    返回的 Observable 重复由源 Observable 所发出的项的流，最多可以重复 count 次。
    <code-mirror [code]="code3"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo3()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo3Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="range">range</h3>
    <div class="fn">
        public static range(start: number, count: number, scheduler: Scheduler): Observable
    </div>
    创建一个 Observable ，它发出指定范围内的数字序列。注意,range(3,5)并不是指取3~5的值.而是从3开始,取5个值.
    <code-mirror [code]="code4"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo4()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo4Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="timer">timer</h3>
    <div class="fn">
        public static timer(initialDelay: number | Date, period: number, scheduler: Scheduler): Observable
    </div>
    创建一个 Observable，该 Observable 在初始延时（initialDelay）之后开始发送并且在每个时间周期（ period）后发出自增的数字。timer 返回一个发出无限自增数列的 Observable, 具有一定的时间间隔，这个间隔由你来选择。
    第一个发送发生在 初始延时之后. 初始延时就像是Date。 默认情况下, 这个操作符使用 async 调度器来提供时间的概念, 但是你也可以传递任何调度器。 如果时间周期没有被指定, 输出 Observable 只发出0。 否则,会发送一个无限数列。
    <code-mirror [code]="code5"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo5()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo5Result}}
            </div>
        </div>
    </nz-card>
    <h2 id="trsfermation-operators">转换操作符</h2>
    <h3 id="map">map</h3>
    <div class="fn">
        public map(project: function(value: T, index: number): R, thisArg: any): Observable&lt;R&gt;
    </div>
    将给定的 project 函数应用于源 Observable 发出的每个值，并将结果值作为 Observable 发出。
    <code-mirror [code]="code6"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo6()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo6Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="mapTo">mapTo</h3>
    <div class="fn">
        public mapTo(value: any): Observable
    </div>
    每次源 Observble 发出值时，都在输出 Observable 上发出给定的常量值。接收常量 value 作为参数，并每当源 Observable 发出值时都发出这个值。换句话说， 就是忽略实际的源值，然后简单地使用这个发送时间点以知道何时发出给定的
    value.
    <code-mirror [code]="code7"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo7()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo7Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="scan">scan</h3>
    <div class="fn">
        public scan(accumulator: function(acc: R, value: T, index: number): R, seed: T | R): Observable&lt;R&gt;
    </div>
    返回一个 Observable， 该 Observable 对每个源 Observable 发出的值使用特定的累加器。 如果seed值提供了， 这个值会被累加器用作初始值。 如果seed值没有被提供， 源数据的第一项会被当做初始值。
    <code-mirror [code]="code8"></code-mirror>
    accumulator:计数器,是指当前最新的累加值.current:当前发出的值.
    <br/> 以我们的案例代码为例,在未发射值时,以10作为初始化的累加器(如果不指定,则默认第一个源数据作为初始值).当第一个数据过来时,累加器为10+1=11.第二个值过来时累加器为11+2=13.第三个值过来时是13+3=16.
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo8()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo8Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="buffer">buffer</h3>
    <div class="fn">
        public buffer(closingNotifier: Observable&lt;any&gt;): Observable&lt;T[]&gt;
    </div>
    将 Observable 发出的值缓冲起来直到 closingNotifier 发出数据, 在这个时候在输出 Observable 上发出该缓冲区的值并且内部开启一个新的缓冲区, 等待下一个closingNotifier的发送。
    <code-mirror [code]="code9"></code-mirror>
    根据我们的案例代码,observable$1立即执行,并且间隔1秒发出值.而observable$2是延时2秒执行,间隔2秒发出数据.二者的对比在代码区可以看到.使用buffer后,observable$1的值发出后并不会直接被观察者接收,而是等到observable$2发出了,再统一交给观察者.
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo9()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo9Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="bufferTime">bufferTime</h3>
    <div class="fn">
        public bufferTime(bufferTimeSpan: number, bufferCreationInterval: number, maxBufferSize: number, scheduler: Scheduler): Observable&lt;T[]&gt;
    </div>
    在一个特定的持续时间bufferTimeSpan内缓存源 Observable 的值。 除非指定了可选参数bufferCreationInterval , 它会发出数组并且重置缓冲区每个bufferTimeSpan毫秒。这个操作符会在每个 bufferCreationInterval
    毫秒时开启缓冲区， 并在每个 bufferTimeSpan 毫秒时关闭(发出并重置)缓冲区。如果可选参数maxBufferSize被指定, 缓冲区会在bufferTimeSpan毫秒 之后或者缓冲区元素个数达到maxBufferSize时发出。
    <code-mirror [code]="code10"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo10()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo10Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="bufferCount">bufferCount</h3>
    <div class="fn">
        public bufferCount(bufferSize: number, startBufferEvery: number): Observable&lt;T[]&gt;
    </div>
    缓冲源 Observable 的N个值(N = bufferSize)，然后发出该缓冲区并进行清理，再然后开启一个新的缓存区，新缓存区会新缓存M个值(M = startBufferEvery)。 如果startBufferEvery没有提供或者为null,
    新的缓冲会在源开始的时候开启并且在每次发出的时候关闭。
    <code-mirror [code]="code11"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo11()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo11Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="concatMap">concatMap</h3>
    <div class="fn">
        public concatMap(project: function(value: T, ?index: number): ObservableInput, resultSelector: function(outerValue: T, innerValue:
        I, outerIndex: number, innerIndex: number): any): Observable
    </div>
    返回一个 Observable，该 Observable 发出基于对源 Observable 发出的值调用提供的函数, 该函数返回所谓的内部 Observable。 每个新的内部 Observable 和前一个内部 Observable 连接在一起。
    警告: 如果源值不断的到达并且速度快于内部 Observables 完成的速度, 它会导致内存问题， 因为内部的 Observable 在无限制的缓冲区中聚集，以等待轮流订阅。
    <code-mirror [code]="code12"></code-mirror>
    这段代码的运行流程如下:
    <ul>
        <li>
            一开始就发射0,之后每隔5秒发送一个递增值
        </li>
        <li>
            每次发射时,进入concatMap,发起5秒的计时累加
        </li>
        <li>
            concatMap的发射值被预定.
        </li>
    </ul>
    所以,会呈现不停的5秒计时效果.
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo12()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo12Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="switchMap">switchMap</h3>
    <div class="fn">
        public switchMap(project: function(value: T, ?index: number): ObservableInput, resultSelector: function(outerValue: T, innerValue:
        I, outerIndex: number, innerIndex: number): any): Observable
    </div>
    返回的 Observable 基于应用一个函数来发送项，该函数提供给源 Observable 发出的每个项， 并返回一个(所谓的“内部”) Observable 。每次观察到这些内部 Observables 的其中一个时， 输出 Observable
    将开始发出该内部 Observable 所发出的项。当发出一个新的内部 Observable 时，switchMap 会停止发出先前发出的内部 Observable 并开始发出新的内部 Observable 的值。后续的内部 Observables
    也是如此。
    <code-mirror [code]="code13"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo13()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo13Result}}
            </div>
        </div>
    </nz-card>
    <h2 id="filtering-operators">过滤操作符</h2>
    <h3 id="filter">filter</h3>
    <div class="fn">
        public filter(predicate: function(value: T, index: number): boolean, thisArg: any): Observable
    </div>
    通过只发送源 Observable 的中满足指定 predicate 函数的项来进行过滤。
    <code-mirror [code]="code14"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo14()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo14Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="first">first</h3>
    <div class="fn">
        public first(predicate: function(value: T, index: number, source: Observable&lt;T&gt;): boolean, resultSelector: function(value:
        T, index: number): R, defaultValue: R): Observable&lt;T | R&gt;
    </div>
    如果不使用参数调用，first 会发出源 Observable 中的第一个值，然后完成。如果使用 predicate 函数来调用，first 会发出源 Observable 第一个满足条件的值。它还可以 接收 resultSelector 函数根据输入值生成输出值，假如在源
    Observable 完成前无法发 出一个有效值的话，那么会发出 defaultValue 。如果没有提供 defaultValue 并且也找不到匹配的元素，则抛出错误。
    <code-mirror [code]="code15"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo15()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="4">
                {{demo15Result}}
            </div>
            <div nz-col nzSpan="4">
                {{demo16Result}}
            </div>
            <div nz-col nzSpan="4">
                {{demo17Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="last">last</h3>
    <div class="fn">
        public last(predicate: function(value: T, index: number, source: Observable&lt;T&gt;): boolean, resultSelector: function(value:
        T, index: number): R, defaultValue: R): Observable&lt;T | R&gt;
    </div>
    返回的 Observable 只发出由源 Observable 发出的最后一个值。它可以接收一个可选的 predicate 函数作为 参数，如果传入 predicate 的话则发送的不是源 Observable 的最后一项，而是发出源 Observable
    中 满足 predicate 函数的最后一项。
    <code-mirror [code]="code18"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo18()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="4">
                {{demo18Result}}
            </div>
            <div nz-col nzSpan="4">
                {{demo19Result}}
            </div>
            <div nz-col nzSpan="4">
                {{demo20Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="skip">skip</h3>
    <div class="fn">
        public skip(count: Number): Observable
    </div>
    返回一个 Observable， 该 Observable 跳过源 Observable 发出的前N个值(N = count)。
    <code-mirror [code]="code21"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo21()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo21Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="takeUtil">takeUtil</h3>
    <div class="fn">
        public takeUntil(notifier: Observable): Observable&lt;T&gt;
    </div>
    当 takeUntil 传入的 notifier 发出值时，源 Observable 对象就会直接进入完成状态。
    <code-mirror [code]="code22"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo22()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo22Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="takeLast">takeLast</h3>
    <div class="fn">
        public takeLast(count: number): Observable&lt;T&gt;
    </div>
    takeLast 返回的 Observable 只发出源 Observable 最后发出的的N个值 (N = count)。 如果源发出值的数量小于 count 的话，那么它的所有值都将发出。此操作符必须等待 源 Observable 的 complete
    通知发送才能在输出 Observable 上发出 next 值， 因为不这样的话它无法知道源 Observable 上是否还有更多值要发出。出于这个原因， 所有值都将同步发出，然后是 complete 通知。
    <code-mirror [code]="code23"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo23()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo23Result}}
            </div>
        </div>
    </nz-card>
    <div class="info">
        debounceTime(防抖)和throttleTime(节流)是比较重要又有难度的操作符.关于概念部分,可以查看这篇文章
        <a href="https://zhuanlan.zhihu.com/p/43721868" target="view_window">用JS实现防抖(debounce)和节流(throttle)</a>.在此不再赘述.
    </div>
    <h3 id="debounceTime">debounceTime</h3>
    <div class="fn">
        public debounceTime(dueTime: number, scheduler: Scheduler): Observable
    </div>
    debounceTime 延时发送源 Observable 发送的值,但是会丢弃正在排队的发送如果源 Observable 又发出新值。 该操作符会追踪源 Observable 的最新值, 并且发出它当且仅当在 dueTime 时间段内 没有发送行为。
    如果新的值在dueTime静默时间段出现, 之前的值会被丢弃并且不会在输出 Observable 中发出。 这是一个控制发送频率的操作符，因为不可能在任何时间窗口的持续时间(dueTime)内发出一个以上的值，同样也是一个延时类操作符，因为输出
    并不一定发生在同一时间，正如源 Observable 上发生的。 可选性的接收一个 IScheduler 用于管理定时器。
    <code-mirror [code]="code24"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <input nz-input placeholder="请输入内容,观察右侧区域变化" id="demo24">
            </div>
            <div nz-col nzSpan="12">
                {{demo24Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="throttleTime">throttleTime</h3>
    <div class="fn">
        public throttleTime(duration: number, scheduler: Scheduler): Observable&lt;T&gt;
    </div>
    当 throttle 的内部定时器禁用时，它会在输出 Observable 上发出源 Observable 的值， 并当定时器启用时忽略源值。最开始时，定时器是禁用的。一旦第一个源值达到，它会被转发 到输出 Observable ，然后启动定时器。在
    duration 毫秒(或由可选的 scheduler 内部确定的时间单位)后，定时器会被禁用，并且下一个源值也是重复此过程。可选择性地 接收一个 IScheduler 用来管理定时器。
    <code-mirror [code]="code25"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <input nz-input placeholder="请连续输入内容,观察右侧区域变化" id="demo25">
            </div>
            <div nz-col nzSpan="12">
                {{demo25Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="distinct">distinct</h3>
    <div class="fn">
        public distinct(keySelector: function, flushes: Observable): Observable
    </div>
    返回 Observable，它发出由源 Observable 所发出的所有与之前的项都不相同的项。 如果提供了 keySelector 函数，那么它会将源 Observable 的每个值都投射成一个新的值，这个值会用来检查是否与先前投射的值相等。如果没有提供
    keySelector 函数，它会直接使用源 Observable 的每个值来检查是否与先前的值相等。 在支持 Set 的 JavaScript 运行时中，此操作符会使用 Set 来提升不同值检查的性能。 在其他运行时中，此操作符会使用
    Set 的最小化实现，此实现在底层依赖于 Array 和 indexOf，因为要检查更多的值来进行区分，所以性能会降低。 即使是在新浏览器中，长时间运行的 distinct 操作也可能会导致内存泄露。为了在某种场景下来缓解这个问题，可以提供一个可选的
    flushes 参数， 这样内部的 Set 可以被“清空”，基本上清除了它的所有值。
    <code-mirror [code]="code26"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo26()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo26Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="distinctUntilChanged">distinctUntilChanged</h3>
    <div class="fn">
        public distinctUntilChanged(compare: function): Observable
    </div>
    返回 Observable，它发出源 Observable 发出的所有与前一项不相同的项。 如果提供了 compare 函数，那么每一项都会调用它来检验是否应该发出这个值。 如果没有提供 compare 函数，默认使用相等检查。
    <code-mirror [code]="code27"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo27()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="6">
                {{demo27Result}}
            </div>
            <div nz-col nzSpan="6">
                {{demo28Result}}
            </div>
        </div>
    </nz-card>
    <h2 id="combination-operators">结合操作符</h2>
    <h3 id="concat">concat</h3>
    <div class="fn">
        public static concat(input1: ObservableInput, input2: ObservableInput, scheduler: Scheduler): Observable
    </div>
    concat通过一次订阅一个将多个 Observables 连接起来，并将值合并到输出 Observable 中。 你可以传递一个输入 Observable 数组，或者直接把它们当做参数传递。 传递一个空数组会 导致输出 Observable
    立马触发完成状态。 concat会订阅第一个输入 Observable 并且发出它的所有值, 不去做任何干预。 当这个 输入 Observable 完成时， 订阅第二个输入 Observable，同样的发出它的所有值。这个过 程会不断重复直到输入
    Observable 都用过了。当最后一个输入 Observable 完成时，concat 也会完成。 任何时刻都只会有一个输入 Observable 发出值。 如果你想让所有的输入 Observable 并行发出数据，请查看merge,
    特别的带上concurrent参数。 事实上,concat和 concurrent设置为1的merge效果是一样的。 注意，如果输入 Observable 一直都不完成, concat 也会一直不能完成并且下一个输入 Observable
    将永远不能被订阅. 另一方面, 如果某个输入 Observable 在它被订阅后立马处于完成状态, 那么它对 concat是不可见的, 仅仅会转向下一个输入 Observable. 如果输入 Observable 链中的任一成员发生错误,
    concat会立马触发错误状态，而不去控制下一个输入 Observable. 发生错误的输入 Observable 之后的输入 Observable 不会被订阅. 如果你将同一输入 Observable 传递给concat多次，结果流会在每次订阅的时候“重复播放”,
    这意味着 你可以重复 Observable 多次. 如果你乏味的给concat传递同一输入 Observable 1000次,你可以试着 用用repeat.
    <code-mirror [code]="code29"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo29()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo29Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="startWith">startWith</h3>
    <div class="fn">
        public startWith(values: ...T, scheduler: Scheduler): Observable
    </div>
    返回的 Observable 会先发出作为参数指定的项，然后再发出由源 Observable 所发出的项。
    <code-mirror [code]="code30"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo30()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo30Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="merge">merge</h3>
    <div class="fn">
        public static merge(observables: ...ObservableInput, concurrent: number, scheduler: Scheduler): Observable
    </div>
    merge 订阅每个给定的输入 Observable (作为参数)，然后只是将所有输入 Observables 的所有值发 送(不进行任何转换)到输出 Observable 。所有的输入 Observable 都完成了，输出 Observable
    才 能完成。任何由输入 Observable 发出的错误都会立即在输出 Observalbe 上发出。
    <code-mirror [code]="code31"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo31()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo31Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="combineLatest">combineLatest</h3>
    <div class="fn">
        public static combineLatest(observable1: ObservableInput, observable2: ObservableInput, project: function, scheduler: Scheduler):
        Observable
    </div>
    combineLatest 结合所有输入 Observable 参数的值. 顺序订阅每个 Observable， 每当任一输入 Observable 发出，收集每个输入 Observable 的最新值组成一个数组。所以，当你给操作符 传入 n
    个 Observable，返回的 Observable 总是会发出一个长度为 n 的数组，对应输入 Observable 的顺序（第一个 Observable 的值放到数组的第一个）。 静态版本的 combineLatest 接受一个
    Observables 数组或者每个 Observable 可以直接作为参数。 请注意，如果你事先不知道你将要结合多少个 Observable， 那么 Observables 数组是一个好的选择。 传递空的数组将会导致返回 Observable
    立马完成。 为了保证输出数组的长度相同，combineLatest 实际上会等待所有的输入 Observable 至少发出一次， 在返回 Observable 发出之前。这意味着如果某个输入 Observable 在其余的输入 Observable
    之前发出，它所发出 的值只保留最新的。另一方面，如果某个输入 Observable 没有发出值就完成了，返回 Observable 也不会发 射值并立马完成，因为不可能从已经完成的 Observable 中收集到值。同样的，如果某个输入
    Observable 不发出值也不完成，combineLatest会永远不发出值也不结束。所以，再次强调下，它会等待所有的流 去发出值。 如果给combineLatest至少传递一个输入 Observable 并且所有传入的输入 Observable
    都发出了值，返回 Observable 将会在所有结合流完成后完成。所以即使某些 Observable 完成了，当其他输入 Observable 发出值的时候，combineLatest返回 Observable 仍然会发出值。对于完成的输入
    Observable，它 的值一直是最后发出的值。另一方面，如果任一输入 Observable 发生错误，combineLatest也会 立马触发错误状态，所有的其他输入 Observable 都会被解除订阅。 combineLatest接受一个可选的参数投射函数，它接受返回
    Observable 发出的值。投射函数 可以返回任何数据，这些数据代替默认的数组被返回 Observable 发出。需要注意的是，投射函数并不接 受值的数组，而是值本身。这意味着默认的投射函数就是一个接受所有参数并把它们放到一个数组里面的
    函数。
    <code-mirror [code]="code32"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo32()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo32Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="zip">zip</h3>
    <div class="fn">
        public static zip(observables: *): Observable&lt;R&gt;
    </div>
    将多个 Observable 组合以创建一个 Observable，该 Observable 的值是由所有输入 Observables 的值按顺序计算而来的。 如果最后一个参数是函数, 这个函数被用来计算最终发出的值.否则, 返回一个顺序包含所有输入值的数组.
    <code-mirror [code]="code33"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo33()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo33Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="withLatestFrom">withLatestFrom</h3>
    <div class="fn">
        public withLatestFrom(other: ObservableInput, project: Function): Observable
    </div>
    withLatestFrom 结合源 Observablecombines（实例）和其他输入 Observables 的最新值，当且仅当 source 发出数据时, 可选的使用 project 函数以决定输出 Observable 将要发出的值。
    在输出 Observable 发出值之前，所有的输入 Observables 都必须发出至少一个值。
    <code-mirror [code]="code34"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo34()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="6">
                {{demo34Result}}
            </div>
            <div nz-col nzSpan="6">
                {{demo35Result}}
            </div>
        </div>
    </nz-card>
    <h2 id="utility-operators">实用操作符</h2>
    <h3 id="delay">delay</h3>
    <div class="fn">
        public delay(delay: number | Date, scheduler: Scheduler): Observable
    </div>
    如果延时参数是数字, 这个操作符会将源 Observable 的发出时间都往后推移固定的毫秒数。 保存值之间的相对时间间隔. 如果延迟参数是日期类型, 这个操作符会延时Observable的执行直到到了给定的时间.
    <code-mirror [code]="code36"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo36()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo36Result}}
            </div>
        </div>
    </nz-card>
    <h3 id="delayWhen">delayWhen</h3>
    <div class="fn">
        public delayWhen(delayDurationSelector: function(value: T): Observable, subscriptionDelay: Observable): Observable
    </div>
    delayWhen 通过由另一个 Observable 决定的时间段来延迟源 Observable 的每个发出值。 当源发出一个数据，delayDurationSelector 函数将该源值当做参数, 返回一个被称为“持续”的 Observable。
    当且仅当持续的 Observable 发出或完成时，源值才会在输出 Observable 上发出。 可选的, delayWhen 接受第二个参数, subscriptionDelay，它是一个 Observable。 当 subscriptionDelay
    发出第一个值或者完成，源 Observable 被订阅并且开始像前一段描 述的一样。 如果 subscriptionDelay 没有提供，delayWhen 将会订阅源 Observable 只 要输出 Observable 被订阅。
    <code-mirror [code]="code37"></code-mirror>
    <h3>运行结果</h3>
    <nz-card class="card demo1">
        <div nz-row>
            <div nz-col nzSpan="12">
                <button (click)="demo37()" nz-button nzType="primary">演示</button>
            </div>
            <div nz-col nzSpan="12">
                {{demo37Result}}
            </div>
        </div>
    </nz-card>
</div>
<nz-anchor class="anchor"  nzOffsetTop='64'>
    <nz-link nzHref="#resume" nzTitle="概述"></nz-link>
    <nz-link nzHref="#create-operators" nzTitle="创建操作符">
        <nz-link nzHref="#fromOf" nzTitle="from、of"></nz-link>
        <nz-link nzHref="#interval" nzTitle="interval"></nz-link>
        <nz-link nzHref="#repeat" nzTitle="repeat"></nz-link>
        <nz-link nzHref="#range" nzTitle="range"></nz-link>
        <nz-link nzHref="#timer" nzTitle="timer"></nz-link>
    </nz-link>
    <nz-link nzHref="#trsfermation-operators" nzTitle="转换操作符">
        <nz-link nzHref="#map" nzTitle="map"></nz-link>
        <nz-link nzHref="#mapTo" nzTitle="mapTo"></nz-link>
        <nz-link nzHref="#scan" nzTitle="scan"></nz-link>
        <nz-link nzHref="#buffer" nzTitle="buffer"></nz-link>
        <nz-link nzHref="#bufferTime" nzTitle="bufferTime"></nz-link>
        <nz-link nzHref="#bufferCount" nzTitle="bufferCount"></nz-link>
        <nz-link nzHref="#concatMap" nzTitle="concatMap"></nz-link>
        <nz-link nzHref="#switchMap" nzTitle="switchMap"></nz-link>
    </nz-link>
    <nz-link nzHref="#filtering-operators" nzTitle="过滤操作符">
        <nz-link nzHref="#filter" nzTitle="filter"></nz-link>
        <nz-link nzHref="#first" nzTitle="first"></nz-link>
        <nz-link nzHref="#last" nzTitle="last"></nz-link>
        <nz-link nzHref="#skip" nzTitle="skip"></nz-link>
        <nz-link nzHref="#takeUtil" nzTitle="takeUtil"></nz-link>
        <nz-link nzHref="#takeLast" nzTitle="takeLast"></nz-link>
        <nz-link nzHref="#debounceTime" nzTitle="debounceTime"></nz-link>
        <nz-link nzHref="#throttleTime" nzTitle="throttleTime"></nz-link>
        <nz-link nzHref="#distinct" nzTitle="distinct"></nz-link>
        <nz-link nzHref="#distinctUntilChanged" nzTitle="distinctUntilChanged"></nz-link>
    </nz-link>
    <nz-link nzHref="#combination-operators" nzTitle="结合操作符">
        <nz-link nzHref="#concat" nzTitle="concat"></nz-link>
        <nz-link nzHref="#startWith" nzTitle="startWith"></nz-link>
        <nz-link nzHref="#merge" nzTitle="merge"></nz-link>
        <nz-link nzHref="#combineLatest" nzTitle="combineLatest"></nz-link>
        <nz-link nzHref="#zip" nzTitle="zip"></nz-link>
        <nz-link nzHref="#withLatestFrom" nzTitle="withLatestFrom"></nz-link>
    </nz-link>
    <nz-link nzHref="#utility-operators" nzTitle="实用操作符">
        <nz-link nzHref="#delay" nzTitle="delay"></nz-link>
        <nz-link nzHref="#delayWhen" nzTitle="delayWhen"></nz-link>
    </nz-link>
</nz-anchor>