<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <layout-sidebar></layout-sidebar>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>
        <div class="">
          <span>
            Powered by
            <a routerLink="/project/author">
              <strong>
                Eve
              </strong>
            </a> ©2018 | Hosted by
            <a href="https://pages.coding.me" target="view_window" style="font-weight: bold">Coding Pages</a>
          </span>
          <br/>
          <span>
            如需转载请标明出处
          </span>
        </div>
      </nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>
<!-- <div class="layout">
  <div class="left">
    <layout-sidebar></layout-sidebar>
  </div>
  <div class="right">
    <div class="top">
      <router-outlet></router-outlet>
    </div>
    <div class="bottom">
      <span>
        Powered by
        <a routerLink="/project/author">
          <strong>
            Eve
          </strong>
        </a> ©2018 | Hosted by
        <a href="https://pages.coding.me" target="view_window" style="font-weight: bold">Coding Pages</a>
      </span>
      <br/>
      <span>
        如需转载请标明出处
      </span>
    </div>
  </div>
</div> -->