@margin: 24px;
    .layout {
        height:100%;

        .header{
            z-index: 100;
            background-color: #2381df;
            box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .2);
            display: flex;
            align-items: center;
            .menu-bar{
              font-size: 25px;
              color:white;
              position: relative;
              left: -30px;
            }

            .title{
                color:white;
                font-size:1.3rem;
                margin-right: auto;

            }
            a{
              display: flex;
              align-items: center;
              text-decoration: none;
              color: white;
              .git{
                font-size: 25px;
                padding-right: 5px;

              }
              span{
                position: relative;
                top: 3px;
              }
            }

        }
        .main-body{
          padding:24px;
          .content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            router-outlet{
             // display: none;
            }
          }
          .footer{
            margin-top:auto;
            display: flex;
            margin-right: 24px;
            padding:30px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            background-color: #001529;
            p{
                color:white;
                padding:5px;
                margin: 0;
            }
        }
        }

    }


// .layout {
//     height: 100%;
//     .left {
//         width: 240px;
//         height: 100%;
//         float: left;
//         top: 0px;
//         bottom: 0px;
//         position: fixed;
//         overflow-x: hidden;
//         overflow-y: auto;
//     }
//     .right {
//         float: right;
//         width: calc(100% - 240px - @margin); //右侧内容区为总宽度减去菜单栏再减去24px的边距
//         height: auto;
//         .top {
//             float: left;
//             width: 100%;
//             height: auto;
//             min-height: e("calc(100vh - 124px)");
//         }
//         .bottom {
//             float: left;
//             width: 100%;
//             height: 100px;
//             background-color: #001529;
//             line-height: 40px;
//             text-align: center;
//             color: white;
//             padding-top: 10px;
//             margin-top: @margin;
//             display: block;
//         }
//     }
// }
