<div [formGroup]="form">
    <label [attr.for]="question.key">{{question.label}}</label>
    <span style="color:red;" *ngFor="let obj of question.tips">
        {{obj}}
    </span>
    <div [ngSwitch]="question.controlType">

        <input nz-input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">

        <nz-select style="width: 120px;" nzAllowClear [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
            <nz-option *ngFor="let opt of question.options" [nzValue]="opt.key" [nzLabel]="opt.value"></nz-option>
        </nz-select>
    </div>
</div>